<div class="flex-container">
    <div class="item" *ngFor="let p of people" (click)="startChat(p)">
        <div class="item-pict"><img src="{{retrieveImage(p)}}" /></div>
        <div class="item-text">{{p.UserPitch}}</div>
        <div class="clearfix"></div>
        <div class="item-text-name">{{p.FirstName}}</div>
    </div>
    <div class="popup" id="chatPopup">
            <img class="closechat" src="../../assets/close.png" (click)="closeChat()"/>
            <div class="chat-header">Send your message</div>
            <div class="chatboox" contenteditable="true" id="chatmessage"></div>
            <div class="sendchat">
                <img src="../../assets/send.png" (click)= "sendMessage()" />
            </div>
    </div>
</div>

