.flex-container{
    display: flex;
    justify-content: left;
    align-items: space-between;   
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 30px;
}

.flex-container > .item{
    width: 100px;
    height: 100px;
    margin-right:20px;
    padding: 10px;
    position: relative;
    cursor: pointer;
}

.item{
    border-width:1px;
    border-style: solid;
}
.item > .item-text{
   position: absolute;
   bottom: 5px;
   width: 100%;
}

.poi-slogan{
    font-size: 16px;
}

.poi-name{
    font-weight: bold;
    font-size: 16px;
}

.poi-description{
    font-size: 11px;
}