.flex-container{
    display: flex;
    justify-content: left;
    align-items: space-between;   
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 30px;
}

.flex-container > .item{
    width: 100px;
    height: 100px;
    margin-right:20px;
    text-align: center;
    position: relative;
    cursor: pointer;
}

.item > .item-text{
   position: absolute;
   bottom: 5px;
   width: 100%;
}