.flex-container{
    display: flex;
    justify-content: space-between;
    align-items: space-between;   
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 30px;
    
}

.flex-container > .item{
    width: 100px;
    height: 100px;
    margin-right:20px;
    padding: 10px;
    position: relative;
    cursor: pointer;
    margin: 10px;
}

.item{
    border-width:1px;
    border-style: solid;
}
.item > .item-text{
   position: absolute;
   bottom: 5px;
   width: 100%;
}

.poi-slogan{
    font-size: 13px;
}

.poi-name{
    font-weight: bold;
    font-size: 13px;
}

.poi-description{
    font-size: 11px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.poi-picture{
    position: absolute;
    border: solid 1px #000;
    right: 10px;
    top:10px;
    height: 80px;
    width: 100px;
}