<div class="flex-container">
        <div class="item" *ngFor="let poi of pois"
        [ngStyle]="{'border-color':poi.BorderColor , 'width' : poi.Picture?'100%':'42%' , 'position': 'relative' }"
        >
        <div class="poi-slogan">
                {{poi.Slogan}}
        </div>
        <div class="poi-name">
                {{poi.Name}}
        </div>
        <div class="poi-description" title="{{poi.Description}}">
                {{poi.Description}}
        </div>
        <div *ngIf="poi.Picture" class="poi-picture">

        </div>
         <div class="poi-footer">
             
         </div>
        </div>
    </div>
    