.left-login{
    float: left;
}

.left-login>img{
    height: 50px;
}

.right-login{
    float: left;
    margin-left:50px;
    font-size: 20px;
}

hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgb(66, 11, 11);
    margin: 1em 0;
    padding: 0; 
}

.facebooklogin{
    background-image: url(../../assets/facebook.png);
    height: 30px;
    width: 180px;    
}

.facebooklogin>a{
    display: block;
}
