.personal-header{
    font-size: 18px;
}

.personal-switch-title{
    
}
.personal-toggle{

}

.row{
    margin-bottom: 10px;
}

.no-padding{
    padding: 0px;
}

.showaround-link > a{
    color: inherit;
    text-decoration: none;
    float: right;
}

.img-ul-drag-box-msg{
    display: none!important;
}
.img-ul-upload.img-ul-button{
    display: none!important;
}

.upload-cont{
    position: relative;
    display: inline-block;
}

.browse-image{
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
    
}

.browse-image-label{
    background-image: url('../../assets/loadimage.png');
    cursor: pointer;
    height: 36px;
    width: 36px;
    vertical-align: middle;
    
}

.avatar-image{
    border-radius: 50%;
    height: 42px;
    width: 42px;
}