.left-home{
    float: left;
}

.left-home>img{
    height: 50px;
}

.right-home{
    float: left;
    margin-left:50px;
    font-size: 20px;
}

hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgb(66, 11, 11);
    margin: 1em 0;
    padding: 0; 
}

hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgb(66, 11, 11);
    margin: 1em 0;
    padding: 0; 
}

.properties-list{

}

.single-property{
    
}