<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="left-login">
            <img src="../assets/air.png"/>
        </div>
        <div class="right-login">
           BeLocal
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        My visited appartments
        <ul class="properties-list">
            <li *ngFor="let prop of properties">
                <span class="single-property">{{prop.name}}</span>
            </li>
        </ul>
    </div>

</div>
